{% extends 'base_generic.html' %}

{% block content %}

<div class="row justify-content-center col-12 bg-secondary">
    <div>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <div class=" col-md-12  text-white ">
                        <h1> Bienvenido, Admin {{user.username | capfirst }} !!</h1>
                        <hr>
                        <h5>Opciones: </h5>
                        <a href="{% url 'index'%}" class="btn btn-info"> Ir al inicio </a>
                        <a href="{% url 'producto_create' %}" class="btn btn-success">Crear Productos</a>
                        <a href="{% url 'productos' %}" class="btn btn-info">Listado de productos</a>
                        <a href="{% url 'tipoproducto_create' %}" class="btn btn-warning">Crear Tipo de Producto</a>
                        <a href="{% url 'tipoproductos' %}" class="btn btn-info">Listado tipo de productos</a>
                        
                        <hr>
                        <a href="{% url 'logout'%}" class="btn btn-danger"> Cerrar sesión</a>
                        
                    </div>
                {% else %}
                    <div class=" col-md-12  text-white ">
                        <h1> Bienvenido, Usuario {{user.username | capfirst }} !!</h1>
                        <hr>
                        <h5>Opciones: </h5>
                        <a href="{% url 'index'%}" class="btn btn-info"> Ir al inicio </a>
                        <a href="{% url 'cliente_create' %}" class="btn btn-success">Registrar cliente </a>
                        <a href="{% url 'boletas'%}" class="btn btn-warning"> Boletas</a>
                        <a href="{% url 'clientes' %}" class="btn btn-info">Listado de clientes</a>
                        <hr>
                        <a href="{% url 'logout'%}" class="btn btn-danger"> Cerrar sesión</a>
                        
                    </div>
                {% endif %}
            
            {% else %}
            <div class=" col-md-12  text-white ">
                <h1> Usted no está registrado... </h1>
                <hr>
                <a href="{% url 'login'%}" class="btn btn-info"> Ir al inicio de sesión</a>
                <a href="{% url 'index'%}" class="btn btn-success"> Ir al inicio </a>
            </div>
            {% endif %}
    </div>
</div>

{% endblock %}