{% extends "base_generic.html" %}
{% block content %}

<div class="row justify-content-center bg-dark vh-100 col-12">
    <div >
    	
        <div class="container  bg-secondary">
            <div class="text-white col-md-12">
            	<h1>Lista de clientes</h1>
                
                
            </div>
            <hr>
            <div>
                {% if cliente_list %}
                <ul>

	               {% for cliente in cliente_list %}
	                <li>
		               <a href="{{ cliente.get_absolute_url }}" class="text-dark">{{ cliente}}</a>
	                </li>
	                {% endfor %}
                </ul>

                {% if is_paginated %}
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
        {% endif %}
                {% else %}
                   <p>No hay clientes registrados.</p>
                {% endif %}   		
            </div>
            
        </div>
    </div>
    
</div>


{% endblock %}