{% extends "base_generic.html" %}

{% block content %}

<div class="row justify-content-center col-12 bg-dark vh-100">
    <div >
        <div   class=" col-md-12  text-white bg-secondary ">
        <form action="" method="post">
            {%csrf_token%}
            <h1> Registrar nuevo cliente. </h1>
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" class="btn btn-info" value="Registrar">
        </form>
        </div>
    </div>
</div>

{%endblock%}